<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <div>
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
          <button type="submit">Register</button>
        </div>
      </form>
    </div>
  {% if user.is_authenticated %}
        <ul><li>
            You are already authenticated to your current account <br/> Maybe, you want to <a href="{% url 'authentication:logout' %}">Logout</a>?
        </li></ul>
  {% endif %}
</body>
</html>