{% extends "base.html" %}
{% block title %}My tasks table{% endblock %}
{% block content %}
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Assignee</th>
                <th>Description</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Project</th>
                <th>Due date</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.task_name }}</td>
                <td>{{ task.assignee.first_name }}</td>
                <td>{{ task.task_description }}</td>
                <td>{{ task.status }}</td>
                <td>{{ task.priority }}</td>
                {% for project in task.projects.all %}
                    <td>{{ project.project_name }}</td>
                {% empty %}
                    <td></td>
                {% endfor %}
                <td>{{ task.due_date }}</td>
                <td class="center-button">
                    <form  method="post" action="{% url 'main_app:task_delete' task.id %}">
                    {% csrf_token %}
                    <button type="submit" class="button-24">X</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}